In [6]:
# Add parent directory to path so we can import fabutils
import sys; sys.path.insert(0, '..')

import fabutils.dgp as dgp

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [7]:
df = dgp.dgp_cuped().make_data()
df.head()

   id          y          x  d
0   0  14.795830  16.416167  0
1   1  21.401631  17.460931  0
2   2  30.501471  22.942863  1
3   3  19.052002  17.170929  0
4   4  22.203901  17.922234  1